<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <main>
            <h1>
                <%=post.title %>
            </h1>
            <h2>by
                <%=post.author%>
            </h2>
            <p>
                <%=post.date%>
            </p>
            <p>
                <%=post.content%>
            </p>
            <p class="post-meta">
                by <%= post.author %>
            </p>
            <form action="/posts/<%= post.id %>/delete" method="POST" style="display: inline;">
                <button type="submit" class="btn-delete">Delete Post</button>
            </form>
            <a href="/posts">Back to Blog</a>

        </main>

        <%- include('partials/footer') %>